<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:12345" binding="wsDualHttpBinding"
                bindingConfiguration="" contract="Contracts.IChatService"
                name="DuplexEP" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>